/* RESET */
*{
    box-sizing: border-box;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
body{
    font-family:  "Montserrat", sans-serif;
}
/* layout main-content */
.container{
    max-width:800px;
    padding: 20px;
}
.row{
    /* max-width: 800px; */
    display: flex;
    flex-wrap: wrap;
}
.col-33{
    min-width: 250px;
    position: relative;
    width: calc(100% / 3);
    padding-left: 11px;
    margin-top: 20px;
}
.under{
    margin-top: 50px;
}

/* style creations  */
.card{
  font-size: 9px;
  font-weight: bold;
  padding: 2px;
  color: white;
  position: absolute;
  bottom: 60px;
  left: 36px;
}

.discount{
    background-color: red;
    position: absolute;
    bottom:60px;
    left: 11px;
}
.green{
    background-color: green;
    position: absolute;
    left:40px;

}
.heart{
    background-color: white;
    padding: 6px;
    font-size: 22px;
    position: absolute;
    top: 5px;
    right: 0;
}